<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.test.onepluswatermark">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        android:largeHeap="true">
        <meta-data
            android:name="BUGLY_APPID"
            android:value="adb4768884" />
        <meta-data
            android:name="BUGLY_APP_VERSION"
            android:value="1.0.1" />
        <meta-data
            android:name="BUGLY_APP_CHANNEL"
            android:value="10000" />
        <meta-data
            android:name="BUGLY_ENABLE_DEBUG"
            android:value="true" />

        <activity android:name=".edit.EditActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".preference.SettingActivity"
            android:label="@string/setting_label"
            android:screenOrientation="portrait"
            android:parentActivityName=".edit.EditActivity"
            android:theme="@style/AppTheme.ActionBar" />

    </application>

</manifest>